*.gz
pdb.fasta_qual.16Nov2022.adataset
pdb.fasta_qual.16Nov2022_30.fasta
pdb-encodings10000
pdb-encodings2
pdb-pt2
pdb-pttest2
pdb-pt-1
pdb-pttest-1
pdb-vhse-1
pdb-vhse2
pdb-vhsetest-1
pdb-vhsetest2
pdb-pttest1000
pdb-vhsetest1000
pt_chkpt.pth.tar
vhse_chkpt.pth.tar
